Plugins>MetroloJ, "Generate CV report", Generate_CVreport
Plugins>MetroloJ, "Generate field illumination report", Generate_fieldIlluminationReport
Plugins>MetroloJ, "Generate PSF report", Generate_PSFreport
Plugins>MetroloJ, "Generate axial resolution report", Generate_zProfileReport
Plugins>MetroloJ, "Generate co-alignement report", Generate_coAlignementReport